<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<head>
    <title>Demo Website: Books</title>
</head>

<body>
    <section class="content" layout:fragment="content">
        <h3>Books</h3>
        <table class="table">
            <thead class="thead-inverse">
                <tr>
                    <th>Title</th>
                    <th>Publisher</th>
                    <th>Authors</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="book : ${books}">
                    <td th:text="${book.title}" />
                    <td th:text="${book.publisher.name}" />
                    <td>
                        <span th:each="author : ${book.authors}">
                            <p th:text="${author.firstName} + ' ' + ${author.lastName}" />
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</body>
</html>