<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layouts/layout">

<head>
    <title>Demo Website</title>
</head>

<body>
    <section class="content" layout:fragment="content">
        <div class="jumbotron">
            <h1 class="display-10">Customer Relationship Management</h1>
        </div>
        <div class="actions">
            <div class="btn-group" role="group" aria-label="Basic example">
                <a th:href="@{/customers/add}">
                    <button type="button" class="btn btn-primary">Add Customer</button>
                </a>
            </div>
        </div>
        <div class="results">
            <table class="table table-striped">
                <thead class="thead-inverse">
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="customer : ${customers}">
                        <td th:text="${customer.firstName}" />
                        <td th:text="${customer.lastName}" />
                        <td th:text="${customer.email}" />
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-info">Update</button>
                                <button type="button" class="btn btn-danger">Delete</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</body>

</html>