<section class="nav" th:fragment="nav" xmlns:th="http://www.thymeleaf.org">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/books}">Books</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/authors}">Authors</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/publishers}">Publishers</a>
        </li>
    </ul>
</section>