<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layouts/layout">

<head>
    <title>Customer: Add</title>
</head>

<body>
    <section class="content" layout:fragment="content">
        <h1>New Customer</h1>
        <form action="#" th:action="@{/customer/add/process}" th:object="${customer}" method="POST">
            <div
                class="form-group"
                th:classappend="${#fields.hasErrors('firstName')} ? 'has-danger' : ''"
            >
                <label th:for="firstName">First Name:</label>
                <input
                    type="text"
                    class="form-control"
                    th:field="*{firstName}"
                    th:classappend="${#fields.hasErrors('firstName')} ? 'form-control-danger' : ''"
                />
                <div
                    class="form-control-feedback"
                    th:if="${#fields.hasErrors('firstName')}"
                    th:errors="*{firstName}"
                />
            </div>
            <div
                class="form-group"
                th:classappend="${#fields.hasErrors('lastName')} ? 'has-danger' : ''"
            >
                <label th:for="lastName">Last Name:</label>
                <input
                    type="text"
                    class="form-control"
                    th:field="*{lastName}"
                    th:classappend="${#fields.hasErrors('lastName')} ? 'form-control-danger' : ''"
                />
                <div
                    class="form-control-feedback"
                    th:if="${#fields.hasErrors('lastName')}"
                    th:errors="*{lastName}"
                />
            </div>
            <div
                class="form-group"
                th:classappend="${#fields.hasErrors('description')} ? 'has-danger' : ''"
            >
                <label th:for="lastName">Description:</label>
                <input
                    type="text"
                    class="form-control"
                    th:field="*{description}"
                    th:classappend="${#fields.hasErrors('description')} ? 'form-control-danger' : ''"
                />
                <div
                    class="form-control-feedback"
                    th:if="${#fields.hasErrors('description')}"
                    th:errors="*{description}"
                />
            </div>
            <input
                type="submit"
                class="btn btn-primary btn-block"
                value="Add Customer"
            />
        </form>
    </section>
</body>

</html>