<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layouts/layout">

<head>
    <title>Form</title>
</head>

<body>
    <section class="content" layout:fragment="content">
        <h1>New Student</h1>
        <form action="#" th:action="@{/tag-form/processForm}" th:object="${student}">
            <div class="form-group">
                <label th:for="firstName">First Name:</label>
                <input
                    type="text"
                    class="form-control"
                    th:field="*{firstName}"
                />
            </div>
            <div class="form-group">
                <label th:for="lastName">Last Name:</label>
                <input
                    type="text"
                    class="form-control"
                    th:field="*{lastName}"
                />
            </div>
            <div class="form-group">
                <label th:for="subject">Subject:</label>
                <input
                    type="text"
                    class="form-control"
                    th:field="*{subject}"
                />
            </div>
            <div class="form-group">
                <label th:for="grade">Grade:</label>
                <input type="text" th:field="*{grade}" />
            </div>

            <div class="form-group">
                <label th:for="country">Country</label>
                <select class="form-control" th:field="*{country}">
                    <div>
                        <option
                            value=""
                            th:disabled="disabled"
                            th:selected="selected">Choose your country</option>
                        <option
                            th:each="theCountry : ${countries.options}"
                            th:value="${theCountry.key}"
                            th:text="${theCountry.value}">Country</option>
                    </div>
                </select>
            </div>

            <fieldset class="form-group">
                <legend>Personality</legend>
                <div class="form-check" th:each="type, index : ${personalityTypes}">
                    <label class="form-check-label">
                        <input
                            type="radio"
                            class="form-check-input"
                            name="personalityRadio"
                            th:value="${type.text}"
                            th:id="'personality' + ${type.name}"
                            th:field="*{personality}" />
                        <span th:text="${type.text}"></span>
                    </label>
                </div>
            </fieldset>

            <div class="form-check">
                <label class="form-check-label">
                    <input
                        type="checkbox"
                        class="form-check-input"
                        th:field="*{doingWell}"
                    />
                    Is doing well?
                </label>
            </div>

            <h3>Favorite Subjects</h3>

            <div class="form-check">
                <label th:each="subject : ${favoriteSubjectsOptions}" class="form-check-label">
                    <input
                        class="form-check-input"
                        type="checkbox"
                        th:field="*{favoriteSubjects}"
                        th:value="${subject}"
                        th:text="${subject}"
                    />
                </label>
            </div>

            <input
                type="submit"
                class="btn btn-primary"
                value="Submit"
            />
        </form>
    </section>
</body>

</html>